.sectionHeader {
  max-width: 800px;
  margin: 100px auto;
}

.sectionHeader .tagline {
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  color: rgb(53, 158, 123);
}

.sectionHeader .secTitle {
  font-size: 45px;
  line-height: 110%;
  margin-top: 10px;
}

.sectionHeader .secIntro {
  font-size: 20px;
  line-height: 130%;
  color: #bbb6b6;
}